<div id="<%= dom_id project %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= project.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Subtitle:</strong>
    <%= project.subtitle %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Context:</strong>
    <%= project.context %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Problem:</strong>
    <%= project.problem %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Solution:</strong>
    <%= project.solution %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Outcome:</strong>
    <%= project.outcome %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Github url:</strong>
    <%= project.github_url %>
  </div>
</div>
